{% extends 'account/base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block account %}
<link rel="stylesheet" href="{% static 'account/styles/login.css' %}" />
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Password Reset</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-secondary" type="submit">
        Request Password Reset
      </button>
    </div>
  </form>
</div>
{% endblock account %}
